body {
    margin: 0;
    padding: 0;
    background: url(../../static/images/background.png);
    background-size: auto;
    background-position: top;
    min-height: max-content;
    overflow: auto;
    font-family: 'Courier New', Courier, sans-serif;
}
