.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.register {
    width: 380px;
    height: 540px;
    margin-top: 50;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.register form {
    margin-top: 20%;
}

.register input {
    width: 100%;
    margin-bottom: 20px;
}

.register input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.register input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}

.register input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.register label {
    text-decoration: none;
    font-size: 10px;
    line-height: 15px;
    text-align: justify;
    color: darkgrey;
}

.link {
    width: 320px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

.link a {
    text-decoration: none; 
    font-size: 12px;
    line-height: 15px; 
    color: darkgrey;
}

.link a:hover {
    color: #ffc107;
}