body {
    margin: 0;
    padding: 0;
    background: url(../static/images/background.png);
    background-size: auto;
    background-position: top;
    font-family: 'Courier New', Courier, sans-serif;
}

.topnav {
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 12px 36px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    position: absolute;
}

.topnav-home {
    width: auto;
    height: 50px;
    margin: calc(42px - 18px - 12px);
    padding: 0px;
    border-radius: 50%;
    float: left;
    background: none;
    color: #fff;

    text-decoration: none;
    font-family: 'Comic Sans MS';
    font-size: 36px;
    font-weight: bold;
}

.topnav-home img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.topnav-logout {
    width: auto;
    height: 36px;
    margin: calc(42px - 18px - 12px);
    padding-right: 12px;
    border-radius: 20px;
    float: right;
    background: #fb2525;
    color: #fff;

    text-decoration: none;
    font-size: 16px;
}

.topnav-logout:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.topnav-logout img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .topnav-home {
        float: none;
        display: block;
    }
    .topnav-logout {
        float: none;
        display: block;
    }
}